<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <%- include("navbar")%>

    <section class="about" >
    <h2>About Us</h2>
    <p>
      Welcome to our <b>Smart City Cleanliness Portal</b>, a digital platform created to make our surroundings
      cleaner, healthier, and smarter. Through this website, citizens can easily report cleanliness issues by 
      providing details such as name, contact information, address, location, and even upload pictures of the problem.
      Once submitted, the report is sent to the respective municipal authorities and cleaning staff, ensuring quick 
      action and proper monitoring.
    </p>
    <p>
      Our mission is to build a transparent and user-friendly bridge between citizens and municipal services, 
      improving response time, accountability, and the overall quality of life. By using this platform, 
      every citizen becomes a responsible part of the community. Together, we can make our city not only 
      <b>smart</b>, but also <b>green, clean, and sustainable</b> for future generations. 🌱✨

    </p>

    <p>
      
      The Smart Clean City project is designed to make our city cleaner, smarter, and more sustainable using modern technology. It helps manage waste efficiently and encourages citizens to participate in keeping the city clean.
</p>
<h1>🌿 Benefits of Smart Clean City</h1>

<h3>1. Smart Waste management </h3>

<p>Automatically detects filled dustbins and sends alerts for timely collection.</p>


<h3>2. Cleaner Environment:</h3>
<p>Reduces litter and pollution, leading to a healthier and greener city.</p>


 <h3>3. Time & Cost Efficient:</h3>
<p>Optimizes garbage collection routes, saving fuel, time, and manpower.</p>


<h3>4. Real-Time Monitoring:</h3>
<p>Authorities can monitor cleanliness status through live data dashboards.</p>


<h3>5. Public Participation:</h3>
<p>Citizens can report unclean areas, promoting community responsibility.</p>


<h3>6. Improved Urban Living:</h3>
<p>Creates a hygienic, smart, and sustainable environment for everyone.</p>


<h3>7. Supports Smart City Mission:</h3>
<p>Contributes to India’s Smart City initiative by using IoT and automation for better civic management.</p>
    

    <a class="gotonext" href="form.ejs">Go to next</a>
  </section>
    
</body>
</html>
