<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <%- include("navbar")%>
    <section class="hero">
    <h1><span>Welcome</span> to Smart Clean City</h1>
    <p>Report garbage problems and keep your city clean.</p>
    <a href="about.ejs" class="btn">Report Now</a>
  </section>

</body>


</html>