<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    
    <p>Your submission was received successfully ✅.</p>
    <p>
Thank you for reporting the issue and helping us make the city cleaner and smarter. Our team has received your complaint and will review it shortly. Necessary action will be taken as soon as possible by the concerned department.

We appreciate your valuable support and cooperation.</p>
    <a href="/">Back to Home</a>

</body>
</html>